# Ignore node_modules in both frontend and backend
node_modules/
*.tar.gz
# Ignore environment variables files
.env
*.DS_Store

# Ignore build output (for frontend)
.next/
out
# Ignore log files (for backend)
logs/

# Ignore npm debug logs
npm-debug.log*

# Ignore Yarn lock files if using Yarn (optional)
yarn-error.log*

# Ignore IDE/editor files (optional)
.vscode/
.idea/
*.sublime-workspace

